version: 1

vars:
  env_dir: /home/richie/env
  network: my_rasp_network
  mount_db_file: /home/richie/pi-backups/${LATEST_BACKUP_FILE}

actions:

  create_docker_primitives:
    description: create shared network and volumes
    steps:
      - type: docker_network
        name: my_rasp_network

      - type: docker_volume
        name: mysql_ubuntu_rasp_device

  pull_common_infra:
    description: pull kafka+redis+mysql image
    steps:
      - type: docker_pull
        image: richie31/common-infra-python-library:latest


  deploy_common_infra:
    description: deploy common infra container
    steps:
      - type: compose_up
        project_name: common_infra_python_abstraction_layer
        compose_file: /home/richie/common_infra_python_abstraction_layer/docker-compose.yaml
        detached: true
    
  mount_db_data_volume:
    description: ensure mysql data volume is mounted
    steps:
      - type: docker_exec
        container: common-infra
        command: export db_passwd=$(grep '^db_passwd=' /home/richie/private-secrets/mcp-secrets/notify/.env | cut -d '=' -f2-)
        command: docker exec -i mysql mysql -uroot -p"$db_passwd" < "${mount_db_file}"


  pull_notify:
    description: pull notify image
    steps:
      - type: docker_pull
        image: richie31/notify:latest


  deploy_notify:
    description: deploy notify application using docker compose command
    steps:
      - type: compose_up
        project_name: noTify
        compose_file: /home/richie/notify/docker-compose.yaml
        detached: true


  expose_ports:
    steps:
      - type: firewall
        ports:
          - 3306
          - 6379
          - 9092
          - 9000   # portainer
          - 8080
          - 5003
          - 5001


  health_check:
    steps:
      - type: container_check
        names:
          - common-infra
          - notify


  start_portainer:
    steps:
      - type: docker_run
        image: portainer/portainer-ce
        name: portainer
        network: my_rasp_network
        restart: always
        ports:
          - "9000:9000"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock

  make_backup_scripts_executable:
    description: ensure backup scripts are executable
    steps:
      - type: shell
        command: chmod +x /home/richie/common_infra_python_abstraction_layer/db_backup.sh

      - type: shell
        command: chmod +x /home/richie/common_infra_python_abstraction_layer/delete_old_backups.sh

  schedule_db_backup:
    steps:
      - type: cron
        name: db-backup
        schedule: "0 */6 * * *"
        command: "/home/richie/common_infra_python_abstraction_layer/db_backup.sh"

  schedule_backup_deletion:
    steps:
      - type: cron
        name: delete-old-backups
        schedule: "30 2 28-31 * * [ \"$(date +\%d -d tomorrow)\" = \"01\" ]"
        command: "/home/richie/common_infra_python_abstraction_layer/delete_old_backups.sh"

